body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: inherit; /* Ссылки будут наследовать цвет текста от родительского элемента */
}

/* При наведении восстановим подчеркивание */
a:hover {
  text-decoration: underline;
}


@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-VariableFont_wght.ttf') format('truetype');

}

