* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #edeef0;
}
.chat-icon {
  color: #878587;

  transition: color 0.1s;
}

.chat-icon:hover {
  color: #575757;
}


html, body {
    overflow: auto; /* Добавить полосы прокрутки для всей страницы */
}

.popclip-menu {
  left: -50px;
  bottom: 95%;
  position: absolute;
  width: 150px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 0.5px 0.5px #d0d0d0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.popclip-menu.active {
    visibility: visible;
    opacity: 1;

}

.popclip-menu::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  width: 20px;
  height: 10px;
  background-color: #ffffff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
  box-shadow: 0 0 10px 10px #d0d0d0;
  border-top: 0; /* границы для стрелки */
}
.popclip-menu::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  width: 20px;
  height: 10px;
  background-color: #5c5c5c;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
  box-shadow: 0 0 10px 10px #d0d0d0;
  border-top: 0; /* границы для стрелки */
}
