* {
  margin: 0;
  padding: 0;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

img {
  height: 500px;
  width: 350px;
  object-fit: cover;
  border-radius: 20px;
}

header {
  background-color: rgb(23, 23, 23);
  height: 100px;
  margin-bottom: 20px;
  color: aliceblue;
  font-size: xxx-large;
  padding-top: 20px;
  padding-left: 40px;
}

.div__Swiper {
  display: flex;
  justify-content: center;
}


.swiper__div{
  width: 350px;
}

.name-on-slide{
  position: absolute;
  top: 4%;
  left: 4%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  background-color: rgba(20, 20, 20, 0.51);
  border-radius: 10px;
  padding: 5px;
}